# clip studio paint files
*.clip

# "push" folder (i probably should just outright delete this folder tbh!)
push/

# Sega Master System BIOS Background (does not ignore the actual .gif file inside the images folder)
bg/

# Room Folder (Work in Progress! Do not include in site yet!)
interactive_room/

# Folder for testing various thingies
test_chamber/

# Blender 404 Page Files
404 Render/
*.blend
*.blend1

# PowerShell scripts for neocities cli
*.ps1
scripts/siteMaintenance

# Blog templates
blogs/templates/

# .drawio files
*.drawio

# Test html Files (also safe to delete why do i keep hording useless stuff?!)
slideTest.html
# typo lmao
TEEST.html